{% extends sonata_block.templates.block_base %}

{% block block %}
    {#<!-- small box -->#}
    <div class="small-box {{ background }}">
        <div class="inner">
            {{ content | raw }}
        </div>
        <p>
            {{ data | raw }}
        </p>
        <div class="icon">
            <i class="fa fa-user-times"></i>
        </div>
    </div>
{% endblock %}
