{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block logo %}
    <a class="logo" href="{{ path('sonata_admin_dashboard') }}" style="background-color:#2c3b41;">
        <img src="{{ asset('build/img/logo_mirmit_blanc.png') }}" alt="Mirmit" class="img-responsive center-block">
    </a>
{% endblock %}
